* {
  margin: 0;
  padding: 0;
}

body .app {
  background-color: #fdfdfd;
  font-family: 'Roboto-Bold';
  height: 100vh;
  width: 100vw;
  transition: all ease 0.2s;
  font-family: 'Noto Sans JP', sans-serif;
}

body .app .container-image {
  height: 30%;
}

body .app .container-image img {
  border-radius: 10px;
  height: 90%;
  object-fit: cover;
  width: 90%;
}

body .app .container-interaction {
  flex-direction: column;
  height: 60%;
  justify-content: space-around;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.container-dices {
  height: 25%;
  width: 90%;
}

.container-dices img {
  width: 40px;
}

.centered-items {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-image, .container-interaction, footer {
  width: 100%;
}


.container-interaction h2 {
  color: #0f7fca;
  font-size: 400;
  font-size: 2em;
  margin: 0;
}

.container-interaction .container-btn {
  display: flex;
  justify-content: space-between;
}

.container-interaction form button {
  background-color: #178dd1;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.78rem;
}

.container-text, .container-form {
  width: 100%;
}

.container-results {
  font-weight: 700;
  font-size: 1.3rem;
  height: 10%;
  margin-bottom: 2rem;
}

.container-results p span {
  font-weight: initial;
}

.form-control {
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputs{
    font-size: 1rem;
    padding: .7rem;
    display: block;
    width: 20%;
    background-color: #e1e1e1;
    margin: .5rem;
    border: none;
    border-radius: .8rem;
}

.hide {
  display: none;
}
div > label {
  margin-bottom: .5em;
}